body {
    margin: 0px;
    padding: 0px;
 }
ul{
    
    list-style-type: none;


    padding: none;
    overflow: hidden;
    background-color: skyblue;
    
}
.name{
    float: left;
}
.nom{
    margin-top: 0px;
    padding: 0px;
    width: 75px;
}
li{
    float: right;

}
li a{
    text-decoration: none;
    display: block;
    color: white;
    margin-bottom: 0px;
    padding: 13px;


}
li a:hover:not(.nohover) {
    background-color: skyblue;
    color: black;
  }
  
  
#container{
    display:flex;
    flex-wrap: wrap;
    margin-top: 12%;


    background-repeat: no-repeat;
    background-size: cover;
}   
#container > div {

    font-size: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: skyblue;
    margin: auto;
    text-align: left;
    width: 400px;
     ;
}
img{
    width:100%;
    height:100%;
    
}




