body {
    margin: 0px;
    padding: 0px;
 }
ul{
    
    list-style-type: none;
    margin-top: 0px;
    padding: none;
    overflow: hidden;
    background-color: black;
    display: inline-flexbox;

}
li{
    float: left;
}
li a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 10px;
}
li a:hover:not(.active,.search) {
    background-color: #111;
  }
.about{
    background-color: red;
    margin-left: 3px;
   padding: 12px;
}
img {
margin: none;
padding: nones;
    max-height: 600px !important;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center; 
  }
